
@{
    ViewBag.Title = "SpisakPosetilaca";
}
<head>
    <style>
        div {
            background-color: darkgoldenrod;
        }
        body {
            background-image: url("../../teretana.jpg");
            color: black;
            font-family: 'Bookman Old Style';
        }

        table {
            background-color: goldenrod;
            border-color: black;
            margin-left: auto;
            margin-right: auto;
            width: 100%;
            font-size: 15px;
        }

        table, tr, th, td {
            border: 3px solid darkgoldenrod;
        }

        th {
            text-align: center;
        }

        .sort {
            background-color: goldenrod;
            margin-left: auto;
            margin-right: auto;
            width: 42%;
            height: 30%;
        }

        input[type=submit] {
            background-color: green;
            color: white;
            border: 1px solid white;
            border-color: white;
            text-align: center;
        }

        h2 {
            background-color: white;
            text-align: center;
            color: black;
            margin-left: auto;
            margin-right: auto;
            font-family: 'Bookman Old Style';
        }

        .forma {
            background-color: darkgoldenrod;
            text-align: right;
        }
    </style>
</head>
<body>
    <h2>SpisakPosetilaca</h2>

    <table border="1">
        <tr>
            <th>Korisnicko ime</th>
            <th>Ime</th>
            <th>Prezime</th>
            <th>Email</th>
            <th>Datum rodjenja</th>
        </tr>
        @foreach (var item in ViewBag.Posetioci)
        {
            <tr>
                <td>@item.KorisnickoIme</td>
                <td>@item.Ime</td>
                <td>@item.Prezime</td>
                <td>@item.Email</td>
                <td>@item.FormatiranDatum</td>
            </tr>
        }
    </table>
    <center>
        <div style="background-color:green; color:white;">
            <a style="color:white;" href="~/Trener/MojiTreninzi">Nazad</a>
        </div>
    </center>
</body>