
@{
    ViewBag.Title = "IzmeniCentar";
}
<head>
    <style>
        div {
            background-color: darkgoldenrod;
        }

        body {
            background-image: url("../../teretana.jpg");
            color: black;
            font-family: 'Bookman Old Style';
        }

        table {
            background-color: goldenrod;
            border-color: black;
            margin-left: auto;
            margin-right: auto;
            width: initial;
            font-size: 15px;
        }

        table, tr, th, td {
            border: 3px solid darkgoldenrod;
        }

        th {
            text-align: center;
        }

        .sort {
            background-color: goldenrod;
            margin-left: auto;
            margin-right: auto;
            width: 40.5%;
            height: 30%;
        }

        input[type=submit] {
            background-color: green;
            color: white;
            border: 1px solid white;
            border-color: white;
            text-align: center;
        }

        h2 {
            width: 80%;
            background-color: white;
            text-align: center;
            color: black;
            margin-left: auto;
            margin-right: auto;
            font-family: 'Bookman Old Style';
        }

        .forma {
            background-color: darkgoldenrod;
            text-align: right;
        }
    </style>
</head>
<body>
    <h2>IzmeniCentar</h2>

    <form action="~/Vlasnik/IzmeniCentar" method="post">
        <table>
            <tr>
                <td><input type="text" name="id" value="@ViewBag.Centar.Id" hidden /></td>
            </tr>
            <tr>
                <td>Naziv</td>
                <td>
                    <input type="text" name="naziv" value="@ViewBag.Centar.Naziv" />
                </td>
            </tr>
            <tr>
                <td>Adresa</td>
                <td>
                    <input type="text" name="adresa" value="@ViewBag.Centar.Adresa" />
                </td>
            </tr>
            <tr>
                <td>Godina otvaranja</td>
                <td>
                    <input type="number" name="godina" value="@ViewBag.Centar.Godina" />
                </td>
            </tr>
            <tr>
                <td>Cena mesecne clanarine</td>
                <td>
                    <input type="number" name="cenaMesecne" value="@ViewBag.Centar.CenaMesecne" />
                </td>
            </tr>
            <tr>
                <td>Cena godisnje clanarine</td>
                <td>
                    <input type="number" name="cenaGodisnje" value="@ViewBag.Centar.CenaGodisnje" />
                </td>
            </tr>
            <tr>
                <td>Cena jednog treninga</td>
                <td>
                    <input type="number" name="cenaTreninga" value="@ViewBag.Centar.CenaTreninga" />
                </td>
            </tr>
            <tr>
                <td>Cena jednog grupnog treninga</td>
                <td>
                    <input type="number" name="cenaGrupnog" value="@ViewBag.Centar.CenaGrupnog" />
                </td>
            </tr>
            <tr>
                <td>Cena jednog treninga sa trenerom</td>
                <td>
                    <input type="number" name="cenaPersonalnog" value="@ViewBag.Centar.CenaPersonalnog" />
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <input type="submit" value="Posalji" />
                </td>
            </tr>
        </table>
    </form>
</body>